body{
	background-color: #777;
	color: #ebebeb;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px
	width: 960px;
	padding:60px;
}

header{
	padding: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #607a9e;
	text-align: center;
}

nav{
	padding: 30px;
	background-color: #607a9e;
	margin-bottom: 20px;
	text-align: center;
}


.container
	{
		width: 495px;
		height: 400px;
		background-color: black;
		color: #ebebeb;
		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		font-size: 18px;
		text-align: center;
		float: left;
		position: absolute;
		clear: both;
		overflow: auto;
		background-color: #607a9e;
		margin-bottom: 20px		

	}


.article-container {
	background-color: red;
	width: 400px;
	height: 300px;
	margin-left: 43px;
	margin-top: 40px;
	position: absolute;
	clear: both;
	overflow: auto;
	background-color: #777;
}

#headings {
	position: inherit;
	clear: both;
	overflow: auto;
	width: 325px;
	margin-top: 123.75px;
	margin-left: 85px;
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: #607a9e;

}

#paragraph {
	position: inherit;
	clear: both;
	overflow: auto;
	width: 325px;
	margin-top: 200px;
	margin-left: 85px;
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: #607a9e;
}

aside {
	background-color: #607a9e;
	clear: both;
	overflow: auto;
	float:right;
	width: 700px;
	height: 400px;
	text-align: center;
	margin-bottom: 20px
}

footer{

	background-color: #607a9e;
	margin-top: 45px;
	text-align: center;
	clear: both;
	padding: 30px;
	
}




